#mainBodyText {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

#mainBodyHeader {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}